// Colour variables
$primary-color: #1e073e;
$secondary-color: #000000;
$text-color: rgb(255, 255, 255);

// Typography
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 12px;

$header-font: "Rubik", sans-serif;

// Margins and padding
$padding-base: 1rem;
$margin-base: 1rem;