@import '../../sass/variables';
@import '../../sass/mixins'; 

.homepage {
  text-align: center;
  padding: $padding-base; 

  h1 {
    font-size: $font-size-large; 
    color: $primary-color; 
    @include flex-column-center(column, center, center); 
  }

  p {
    font-size: $font-size-base; 
    color: $secondary-color; 
  }
}
