@import './sass/mixins';
@import './sass/variables';

body, html {
    background-color: $primary-color;
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: $header-font;
    font-size: $font-size-medium;
    color: $secondary-color;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

a:hover {
    color: white;
}

a:visited {
    color: inherit;
    text-decoration: none;
}